{% extends 'my_tms/base.html' %} {% block content %}
<div id="title-row" class="row">
  <h1>Dashboard</h1>
</div>
<div class="container my-5">
  <div class="row gx-5">
    <div class="col-8 border border-light rounded shadow-sm">
      <div id="table-wrapper" class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-4">
      <div class="row gy-2">
        <div class="col-12 border border-light rounded shadow-sm">
          <h4>Hello</h4>
          <h4>Hello</h4>
          <h4>Hello</h4>
          <h4>Hello</h4>
          <h4>Hello</h4>
          <h4>Hello</h4>
        </div>
        <div class="col-12 border border-light rounded shadow-sm">
          <h4>Hello</h4>
          <h4>Hello</h4>
          <h4>Hello</h4>
          <h4>Hello</h4>
          <h4>Hello</h4>
          <h4>Hello</h4>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
