{% extends 'dashboard/base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 fw-bold fs-3">
                Archived Projects
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mt-3">
                    <div class="card-header">
                        Projects
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Deadline</th>
                                    <th scope="col">Total</th>                                    
                                    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for project in completed_projects %}
                                  <tr>
                                    <td>{{ project.number }}</td>
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.client }}</td>
                                    <td>{{ project.deadline }}</td>
                                    <td>{{ project.total }}</td>
                                    <td>
                                        <a href="{% url 'project-details' project.id %}">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                    </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
