<div 
  class="offcanvas offcanvas-start bg-dark text-white sidebar-nav"
  tabindex="-1"
  id="sidebar-nav"
  aria-labelledby="offcanvasExampleLabel"
  data-bs-backdrop="false"
>
  <div class="offcanvas-header">
    <button
      type="button"
      id="btn-offcanvas-close"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body p-0">
    <nav class="navbar-dark">
      <ul class="navbar-nav">
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3">
            MENU
          </div>
        </li>
        <li>
          <a href="{% url 'dashboard' %}" class="nav-link px-3 active">
            <span class="me-3">
              <i class="bi bi-house-fill"></i>
            </span>
            <span>
              Dashboard
            </span>
          </a>
        </li>
        <li class="my-4">
          <hr class="dropdown-divider">
        </li>
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3">
            OPTIONS
          </div>
        </li>
        <li>
          <a href="{% url 'new-project' %}" class="nav-link px-3 active">
            <span class="me-3">
              <i class="bi bi-plus-square-fill"></i>
            </span>
            <span>
              Add Project
            </span>
          </a>
        </li>
        <li class="my-4">
          <hr class="dropdown-divider">
        </li>
      </ul>
    </nav>
  </div>
</div>
