:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}

#sidebar-nav {
  width: var(--offcanvas-width);
}

.inner-row {
  height: 100vh;  
}

.form-box {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (min-width: 992px) {
    body {
        overflow: auto !important;
    }
    main {
      margin-left: var(--offcanvas-width);
    }
    #sidebar-nav {
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
}